.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 6rem;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s ease-out forwards;
}

.about h1, .about h2 { color: var(--accent-color); }

.about h1 {
    font-size: 2.5rem;
    margin: 0;
}

.about p {
    text-align: center;
    line-height: 1.8;
}

.about p a {
    text-decoration: none;
    font-weight: bold;
}

.skillsContainer h2 { text-align: center; }

.skillsContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.skillsContainer li {
    position: relative;
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--glass-bg-color);
    box-shadow: 0 .4rem .5rem .25rem var(--shadow-color);
    border: 1px solid transparent;
    border-radius: .75rem;
    transition: border-style .5s, border-color .5s, transform .15s;
}

.skillsContainer li:hover {
    border-style: solid;
    border-color: var(--accent-color);
    transform: translateY(-3px);
}

.skillsContainer svg { font-size: xx-large; }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .about { font-size: .9rem; }

    .about h1 { font-size: 2rem; }

    .skillsContainer ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}
