.header {
    padding: 0 5%;
    background-color: var(--glass-bg-color);
    box-shadow: 0 .4rem 1rem .5rem var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.logo {
    height: 4rem;
    padding: .6rem;
    fill: var(--text-color);
}

.header nav {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    transition: .5s;
}

.header nav a:hover { color: var(--accent-color); }

.header div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.header label {
    display: block;
    position: relative;
    height: 2rem;
    width: 2rem;
}

.header label input {
    margin: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

.header label span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--glass-bg-color);
    box-shadow: 0 0 .5rem .25rem var(--shadow-color);
    border-radius: 50%;
    transition: .4s;
}

.header label span::before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    top: 25%;
    left: 25%;
    box-shadow: inset -3px -2px 5px -2px var(--color-scheme-icon-color-1), inset -7.14px -2.86px 0 0 var(--color-scheme-icon-color-2);
    transition: .5s;
}

.header label input:checked + span::before {
    box-shadow: none;
    background: linear-gradient(40deg,var(--color-scheme-icon-color-1),var(--color-scheme-icon-color-2) 70%);
}

.header button {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: transparent;
    border: .1rem solid var(--text-color);
    border-radius: 5rem;
    padding: .6rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    transition: .5s;
}

.header button:hover { border-color: var(--accent-color); }

.modal {
    position: absolute;
    background: radial-gradient( circle farthest-corner at 10% 20%, var(--gradient-color-1) 0%, var(--gradient-color-2) 90.5% );
    box-shadow: 0 0 .5rem .25rem var(--shadow-color);
    border-radius: .75rem;
    padding: .5rem;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modal-blur-color);
    backdrop-filter: blur(4px);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }

    .logo { height: 3rem; }

    .header nav {
        flex-direction: column;
        gap: 1rem;
        font-size: .9rem;
    }

    .header div { margin-bottom: .8rem; }

    .header button {
        font-size: .9rem;
        padding: .5rem .8rem;
    }
}
