.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 2rem 6rem;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s ease-out forwards;
}

.message, .errorMessage {
    width: 100%;
    text-align: center;
    font-size: larger;
}

.errorMessage { color: var(--error-color); }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .projects {
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 1.25rem;
    }
}
