@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

* {
    color: rgba(240,248,255,1);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

:root, * { box-sizing: border-box; }

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
	padding: 0;
	border: 0;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(67,72,91,1) 0%, rgba(19,24,33,1) 90.5% );
    background-size: cover;
    background-attachment: fixed;
}
