@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

:root {
    --accent-color: rgba(97,218,251,1);
    --text-color: rgba(240,248,255,1);
    --error-color: rgba(255,0,0,1);
    --gradient-color-1: rgba(67,72,91,1);
    --gradient-color-2: rgba(19,24,33,1);
    --color-scheme-icon-color-1: rgba(82,182,154,1);
    --color-scheme-icon-color-2: rgba(217,237,146,1);
    --hero-background-color-1: rgba(0,0,0,1);
    --hero-background-color-2: rgba(0,0,0,.75);
    --hero-background-color-3: rgba(0,0,0,0);
    --hero-background-color-4: rgba(255,255,255,.06);
    --hero-background-color-5: rgba(255,255,255,.08);
    --glass-bg-color: rgba(255,255,255,.05);
    --shadow-color: rgba(0,0,0,.08);
    --modal-blur-color: rgba(0,0,0,.7);
}

.lightTheme {
    --accent-color: rgba(3,83,164,1);
    --text-color: rgba(50,48,49,1);
    --error-color: rgba(186,24,27,1);
    --gradient-color-1: rgba(238,240,242,1);
    --gradient-color-2: rgba(234,230,219,1);
    --color-scheme-icon-color-1: rgba(255,0,128,1);
    --color-scheme-icon-color-2: rgba(255,140,0,1);
    --hero-background-color-1: rgba(255,255,255,1);
    --hero-background-color-2: rgba(238,242,247,.95);
    --hero-background-color-3: rgba(238,242,247,0);
    --hero-background-color-4: rgba(3,83,164,.08);
    --hero-background-color-5: rgba(3,83,164,.12);
}

* {
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

:root, * { box-sizing: border-box; }

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: radial-gradient( circle farthest-corner at 10% 20%, var(--gradient-color-1) 0%, var(--gradient-color-2) 90.5% );
    background-size: cover;
    transform: translateZ(0);
    pointer-events: none;
}

.main {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}
